@model IEnumerable<Talep>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Talepler</h6>
            <a href="talepler/talepekle" class="btn btn-success" style="color:#ffffff"><i class="fa-solid fa-plus"></i> Yeni talep</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"></th>
                        <th scope="col">Alıcı İsim soyisim</th>
                        <th scope="col">İlan Tipi</th>
                        <th scope="col">Fiyat aralığı</th>
                        <th scope="col">Satılık/Kiralık</th>
                        @*<th scope="col">Lokasyon</th>*@
                        <th scope="col">Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var talep in Model)
                    {
                        <tr>
                            <td><input name="talepler" class="form-check-input" type="checkbox" value=@talep.Id></td>
                            <td>@talep.Alici.AdSoyad</td>
                            <td>@talep.IlanTalepTipi.TipAdi</td>
                            <td>@talep.MinFiyat - @talep.MaxFiyat TL</td>
                            <td>@talep.SatilikMiKiralikMi</td>
                           @* <td>@ilan.Mahalle, @ilan.Semt, @ilan.Sehir</td>*@
                            <td><a class="btn btn-sm btn-primary" href="/detay/@talep.Id">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-lg btn-danger" onclick="ilanSilModal()">
                Talep Sil
            </button>
        </div>
    </div>
    
</div>

<div class="modal" tabindex="-1" role="dialog" id="ilanSilModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:#ffffff">Seçtiğiniz talepler silinsin mi?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="ilanSil()">Sil</button>
                <button type="button" class="btn btn-outline-secondary" onclick="closeModal()">Vazgeç</button>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales End -->

<script>
    $("#navTalep").addClass("active");

    function ilanSilModal() {
        $("#ilanSilModal").css("display", "flex");
        $("#ilanSilModal").css("align-items", "center");
        $("#ilanSilModal").css("justify-content", "center");

    }

    function ilanSil() {
        var ilanIds = [];
        var ilanlar = $("input[name='talepler']");
        ilanlar.each((index, value) => {
            if (value.checked) {
                ilanIds.push(value.value);
            }
        });

        $.post("https://localhost:7191/talepler/talepsil", { idsJson: JSON.stringify(ilanIds) }, (data, status) => {
            if (status = "success") {
                location.reload()
            }
        });
    }
</script>