@model IEnumerable<Ilan>

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">İlanlar</h6>
            <a href="/ilanlar/ilanekle" class="btn btn-success" style="color:#ffffff"><i class="fa-solid fa-plus"></i> Yeni ilan</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Satıcı İsim soyisim</th>
                        <th scope="col">İlan Tipi</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Satış durumu</th>
                        <th scope="col">Satılık/Kiralık</th>
                        <th scope="col">Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ilan in Model)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>@ilan.Satici.AdSoyad</td>
                            <td>@ilan.IlanTalepTipiId</td>
                            <td>@ilan.IlanFiyati</td>
                            <td>@((ilan.SatisDurumu) ? "Satildi" : "Alıcı bekliyor")</td>
                            <td>@ilan.SatilikMiKiralikMi</td>
                            <td><a class="btn btn-sm btn-primary" href="/detay/@ilan.Id">Detail</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->

<script>
    $("#navIlan").addClass("active");
</script>