@model Arsa

<div class="row">
    <div class="col-6"><span>Metrekare Net</span> </div>
    <div class="col-6"><span>@Model.MetrekareNet</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Ada No.</span> </div>
    <div class="col-6"><span>@Model.AdaNo</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Parsel No.</span> </div>
    <div class="col-6"><span>@Model.ParselNo</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Pafta No.</span> </div>
    <div class="col-6"><span>@Model.PaftaNo</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Tapu Durumu</span> </div>
    <div class="col-6"><span>@(Model.TapuDurumu ? "Var" : "Yok")</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Metrekare Fiyat</span> </div>
    <div class="col-6"><span>@Model.MetrekareFiyat</span></div>
</div>
<div class="row">
    <div class="col-6"><span>İmar Durumu</span> </div>
    <div class="col-6"><span>@(Model.ImarDurumu ? "Var" : "Yok")</span></div>
</div>
<div class="row">
    <div class="col-6"><span>Kat Karşılığına Uygun</span> </div>
    <div class="col-6"><span>@(Model.KatKarsiliginaUygun ? "Evet" : "Hayır")</span></div>
</div>