@model Daire

<tr>
    <td scope="row">Metrekare Brüt </td>
    <td>@Model.MetrekareBrut</td>
</tr>
<tr>
    <td scope="row">Metrekare Net </td>
    <td>@Model.MetrekareNet</td>
</tr>
<tr>
    <td scope="row">Ada No. </td>
    <td>@Model.AdaNo</td>
</tr>
<tr>
    <td scope="row">Parsel No. </td>
    <td>@Model.ParselNo</td>
</tr>
<tr>
    <td scope="row">Oda Sayısı </td>
    <td>@Model.OdaSayisi</td>
</tr>
<tr>
    <td scope="row">Asansör </td>
    <td>@(Model.Asansor ? "Var" : "Yok")</td>
</tr>
<tr>
    <td scope="row">Bulunduğu Kat </td>
    <td>@Model.BulunduguKat</td>
</tr>
<tr>
    <td scope="row">Kat Sayısı </td>
    <td>@Model.KatSayisi</td>
</tr>
<tr>
    <td scope="row">Kullanım Durumu </td>
    <td>@Model.KullanimDurumu</td>
</tr>
<tr>
    <td scope="row">Bulunduğu Kat </td>
    <td>@Model.BulunduguKat</td>
</tr>
<tr>
    <td scope="row">Aidat </td>
    <td>@Model.Aidat</td>
</tr>
<tr>
    <td scope="row">Bina Yaşı </td>
    <td>@Model.BinaYasi</td>
</tr>
<tr>
    <td scope="row">Isıtma </td>
    <td>@Model.Isıtma</td>
</tr>
<tr>
    <td scope="row">Krediye Uygun </td>
    <td>@(Model.KrediyeUygun ? "Evet" : "Hayır")</td>
</tr>
<tr>
    <td scope="row">Otopark </td>
    <td>@(Model.Otopark ? "Var" : "Yok")</td>
</tr>
<tr>
    <td scope="row">Eşyalı </td>
    <td>@(Model.EsyaliMi ? "Evet" : "Hayır")</td>
</tr>
<tr>
    <td scope="row">Balkon Sayısı </td>
    <td>@Model.BalkonSayisi</td>
</tr>
<tr>
    <td scope="row">Banyo Sayısı </td>
    <td>@Model.BanyoSayisi</td>
</tr>
<tr>
    <td scope="row">Metrekare Fiyat </td>
    <td>@Model.MetrekareFiyat</td>
</tr>
<tr>
    <td scope="row">Site </td>
    <td>@(Model.SiteMi ? "Evet" : "Hayır")</td>
</tr>