@model Tarla

<tr>
    <td scope="row">Metrekare Net </td>
    <td>@Model.MetrekareNet</td>
</tr>
<tr>
    <td scope="row">Ada No. </td>
    <td>@Model.AdaNo</td>
</tr>
<tr>
    <td scope="row">Parsel No. </td>
    <td>@Model.ParselNo</td>
</tr>
<tr>
    <td scope="row">Pafta No. </td>
    <td>@Model.PaftaNo</td>
</tr>
<tr>
    <td scope="row">Metrekare Fiyat </td>
    <td>@Model.MetrekareFiyat</td>
</tr>
<tr>
    <td scope="row">Tapu Durumu </td>
    <td>@(Model.TapuDurumu ? "Var" : "Yok")</td>
</tr>
<tr>
    <td scope="row">İmar Durumu </td>
    <td>@(Model.ImarDurumu ? "Var" : "Yok")</td>
</tr>